// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.my-brand {
  height:76px;
  width: 260px;
}

.footer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.cropped-image {
  overflow: hidden;
}
