name: Dependabot

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: write
  pull-requests: write

jobs:
  auto-merge:
    uses: eckslopez/platform-pipelines/.github/workflows/dependabot-auto-merge.yml@main
    with:
      auto_merge_major: false
      auto_merge_minor: true
      auto_merge_patch: true
      merge_method: 'squash'
