name: Tests

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    name: Run Test Suite
    uses: eckslopez/platform-pipelines/.github/workflows/rails-test.yml@main
    with:
      ruby_version: '3.2'
      run_system_tests: true
